<% include ../partials/top %>

<h3><%= post.title %></h3>
<p><%= date %></p>
<p><%- post.body %></p>
<div class="card">
        <% if(user){if (user.id == post.user.id) {%>
            <div>
                <a href="/posts/edit/<%= post.id %>"><i class="fa fa-pencil"></i></a>
            </div>
            <%}}%>
    <div class="card-title">
        <%= post.user.firstName + post.user.lastName %> 
    </div>
    <div class="card-body">
        <img src="<%= post.user.image %>" alt="" style="height: 100px;width: 100px;">
        <a href="/posts/user/<%=user.id%>">More From <%= post.user.firstName + post.user.lastName %>  </a>
    </div>
    <% if(post.allowComments) {%>
        <div class="card">
            <div class="card-content">
                <div class="card-title">comments</div>
            </div>
        </div>
        <% if(user) {%>
             <form method="post" action="/posts/comment/<%= post.id %>">
                <div class="input-field">
                    <textarea name="commentBody"  id="" cols="30" rows="10"></textarea>
                    <label>Add Comment</label>
                </div>
                <input type="submit" value="Submit" class="btn btn-success">
            </form>
        <%}else{%>
            <p>Please <a href="/auth/google">log in </a> to leave a comment</p>
            <% }%>
           <% for(var i=0;i<post.comments.length;i++){%>
               <div class="card">
                    <div class="card-content">
                        <h5> <%= post.comments[i].commentBody %></h5>
                        <img src="<%= post.comments[i].commentUser.image %>" alt="Contact Person" style="height:50px;width:50px">
                        <p>hey <%= post.comments[i].commentUser.firstName + post.comments[i].commentUser.lastName %></p>
                        <p>i love formatting date : <%= post.comments[i].commentDate %></p>
                    </div>
               </div>
            <%}%>
            

    <% }%>

</div>
<hr>
<h2>what is cool all the stories from that user think how i am goona do it</h2>







<% include ../partials/bottom %>