<% include ../partials/top %>
</div>


<img  src="<%= typeof post.postImage != 'undefined' ? post.postImage.slice(6):'http://success-at-work.com/wp-content/uploads/2015/04/free-stock-photos.gif' %>"alt="Card image cap" class="w-100" >
<div class="container mt-3">
<h2><%= post.title %></h2>

<p><%- post.body %></p>

<div class="card">
        <% if(user){if (user.id == post.user.id) {%>
            <div>
                <a href="/posts/edit/<%= post.id %>"><i class="fa fa-pencil"></i></a>
            </div>
            <%}}%>
    <div class="card-title">
        <%= post.user.firstName + post.user.lastName %> 
    </div>
    <div class="card-body">
        <img src="<%= post.user.image %>" alt="" style="height: 100px;width: 100px;">
        <a href="/posts/user/<%=post.user.id%>">More From <%= post.user.firstName + post.user.lastName %>  </a>
    </div>
    
    <p><%= date %></p>
    <% if(post.allowComments) {%>
        <div class="card">
            <div class="card-content">
                <div class="card-title">comments</div>
            </div>
        </div>
        <% if(user) {%>
             <form method="post" action="/posts/comment/<%= post.id %>">
                <div class="input-field">
                    <textarea name="commentBody"  id="" cols="30" rows="10"></textarea>
                    <label>Add Comment</label>
                </div>
                <input type="submit" value="Submit" class="btn btn-success">
            </form>
        <%}else{%>
            <p>Please <a href="/auth/google">log in </a> to leave a comment</p>
            <% }%>
           <% for(var i=0;i<post.comments.length;i++){%>
               <div class="card">
                    <div class="card-content">
                        <h5> <%= post.comments[i].commentBody %></h5>
                        <img src="<%= post.comments[i].commentUser.image %>" alt="Contact Person" style="height:50px;width:50px">
                        <p>hey <%= post.comments[i].commentUser.firstName + post.comments[i].commentUser.lastName %></p>
                        <p>i love formatting date : <%= post.comments[i].commentDate %></p>
                    </div>
               </div>
            <%}%>
            

    <% }%>

</div>
<hr>

<div class="row">
        <div class="container">
            <div class="col-md-4 mx-auto">
                <div class="card">
                    <!-- user profile image -->
                    <img class="card-img-top" src="profile.jpg" alt="Profile">
                    <div class="card-body text-center">
                        <!-- user name -->
                        <h4 class="card-title">John Doe</h4>
                        <!-- job title / comany name -->
                        <p class="card-text text-muted">UI/UX Designer</p>
                        <!-- social profile links -->
                        <a href="#" class="social twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="social facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="social google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="social linkedin"><i class="fa fa-linkedin"></i></a>
                        <!-- CTA button -->
                        <p class="mt-4"><a href="#" class="btn btn-primary">Contact me!</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<h2>what is cool all the stories from that user think how i am goona do it</h2>



    
</div>
<div>

<% include ../partials/bottom %>